<h1><%= @figure.name %></h1>

<h3>Landmarks:</h3>
<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
<% end %>

<h3>Titles:</h3>
<% @figure.titles.each do |title| %>
  <%= title.name %>
<% end %>